<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Estas en la página principal</h1>
    {% for movie in movies %}
        <ul>
            <li>{{ movie.title }}</li>
            <li>{{ movie.director.first_name }} {{ movie.director.last_name }}</li>
            <li>{{ movie.rating }}</li>
        </ul><br>
    {% endfor %}

    <a href="{% url 'movies:lista_directores' %}">Lista directores</a>
    <a href="{% url 'movies:lista_actores' %}">Lista actores</a>
    <a href="{% url 'movies:pelis_2022' %}">Ver pelis 2022</a>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Cerrar sesión</button>
</form>
</body>
</html>